{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<h1>Dashboard</h1>
<p>Resumen general del estado de los tickets de soporte.</p>

<div>
    <div>
        <h2>{{ total }}</h2>
        <p>Total de Tickets</p>
    </div>

    <div>
        <h2>{{ abiertos }}</h2>
        <p>Abiertos</p>
        <a href="{% url 'tickets:filtrar_por_estado' 'Abierto' %}">Ver abiertos</a>
    </div>

    <div>
        <h2>{{ en_proceso }}</h2>
        <p>En Proceso</p>
        <a href="{% url 'tickets:filtrar_por_estado' 'En Proceso' %}">Ver en proceso</a>
    </div>

    <div>
        <h2>{{ resueltos }}</h2>
        <p>Resueltos</p>
        <a href="{% url 'tickets:filtrar_por_estado' 'Resuelto' %}">Ver resueltos</a>
    </div>
</div>

<div>
    <a href="{% url 'tickets:lista_tickets' %}">Ver todos los tickets</a>
</div>
{% endblock %}